/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

/* general */
* {
   margin: 0;
   box-sizing: border-box;
}

.hidden {
   display: none !important;
}

.clickable {
   cursor: pointer;
}

.white {
   color: white;
}

h1 {
   font-family: 'Nunito', sans-serif;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   color: #3f3f3f;
}

h1.big {
   font-size: 64px;
   line-height: 74px;
}

p {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 22px;
   color: #3f3f3f;
}

p.big {
   font-size: 24px;
   line-height: 28px;
}

label {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 8px;

   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #3f3f3f;
}

input,
textarea,
select,
.requestViewContentInfo {
   border: none;
   outline: none;

   width: 100%;
   padding: 18px;
   background: #ffffff;
   box-shadow: 0px 0px 6px rgba(147, 147, 147, 0.25);
   border-radius: 9px;

   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   line-height: 16px;
   color: #3f3f3f;
}

input::placeholder {
   color: #c8c8c8;
}

.btn {
   width: fit-content;
   outline: none;
   border: none;
   border-radius: 9px;

   color: white;
   background-color: #6727af;
   padding: 12px 68px;

   font-family: 'Nunito', sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;

   cursor: pointer;
}

.btnLanding {
   color: #3f3f3f;
   background-color: #fbc400;
}

.btnWhite {
   background-color: white;
   color: #3f3f3f;
   box-shadow: 0px 0px 6px rgba(147, 147, 147, 0.25);
}

.btnFullSize {
   width: 100%;
}

.btnCardPet {
   height: 100%;
   padding: 10px;

   border-radius: 0px 20px 20px 0px;
}

.filterBtns {
   padding: 12px 0px;
}

.card {
   width: calc(50% - 20px);
   min-width: 320px;
   height: 136px;
   position: relative;

   background: #ffffff;
   box-shadow: 0px 0px 6px rgba(147, 147, 147, 0.25);
   border-radius: 20px;

   display: flex;
   gap: 28px;
}

.cardImgContainer {
   width: 111px;
   height: 100%;
   padding: 11px;
   padding-bottom: 0px;
   border-radius: 20px 20px 0px 20px;

   display: flex;
   align-items: flex-end;

   background-color: #f9b5b5;
   overflow: hidden;
}

.cardImgContainerPurple {
   background-color: #bfb5f9 !important;
}

.cardImg {
   width: 100%;
}

.cardContent {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 24px;
}

.cardContent div {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.cardContent h1 {
   font-size: 24px;
   line-height: 26px;
}

.cardContent p {
   font-size: 12px;
   line-height: 14px;
}

.cardAcceptedLeft,
.cardPetLeft {
   height: 100%;
   position: absolute;
   right: 0;

   display: flex;
   align-items: flex-start;
   gap: 20px;
}

.cardAcceptedLeftGender,
.cardPetLeftGender {
   padding-top: 15px;
}

.cardAcceptedLeftGender {
   padding-right: 20px;
}

.bodyHome {
   background-color: #6727af;
   background-image: url('../images/general/paw-pattern.svg');
}

/* header */
.header {
   width: 100%;
   height: 100px;
   background-color: #6727af;
   box-shadow: 0px 0px 6px #35135a;

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 64px;
}

.headerLanding {
   background-color: transparent;
}

.headerContent {
   display: flex;
   align-items: center;
   gap: 60px;
}

.nav {
   display: flex;
   align-items: center;
   gap: 44px;
}

.navLink {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-decoration: none;

   color: white;
}

.navLinkActive {
   border-bottom: 2px solid currentColor;
}

/* landing */
.landing {
   width: 100%;
   height: calc(100vh - 100px);
   padding: 64px;
   padding-left: 180px;

   display: flex;
   align-items: center;
   gap: 120px;

   position: relative;
}

.landingAside {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
}

.landingAside p {
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   line-height: 16px;

   color: white;

   writing-mode: vertical-lr;
   transform: rotate(180deg);
}

.landingContent {
   max-width: 540px;
   display: flex;
   flex-direction: column;
   gap: 54px;
}

.landingPhoto {
   height: 100%;
   position: absolute;
   right: 10%;
   bottom: 0;
}

/* auth */
.auth {
   width: 100%;
   height: 100vh;

   display: flex;
}

.authText {
   width: 55%;
   padding: 0px 140px;
   background-image: url(../images/photos/catBg.png);
   background-position: center center;
   background-size: cover;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.authForm {
   width: 45%;
   height: 100%;
   padding: 0px 68px;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 48px;
}

.authFormInputs {
   width: 100%;

   display: flex;
   flex-direction: column;
   gap: 24px;
}

.article {
   width: 100%;
   padding: 60px 160px;

   display: flex;
   flex-direction: column;
   gap: 40px;
}

.homeContainer,
.petListContainer,
.adoptionsContainer {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 20px 40px;
}

.requestView,
.formPet {
   height: calc(100vh - 100px);
   padding-bottom: 0px !important;
   flex-direction: row;
   gap: 0;
}

.requestViewAside,
.formPetAside {
   width: 45%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 36px;

   overflow: hidden;
}

.requestViewPhotoContainer,
.formPetPhotoContainer,
.formUploadPhoto {
   width: 100%;
   height: 100%;
   padding: 48px;
   padding-bottom: 0px;
   border-radius: 20px 20px 0px 0px;

   display: flex;
   align-items: flex-end;

   background-color: #f9b5b5;
}

.requestViewPhoto,
.formPetPhoto {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.requestViewContent,
.formPetContent {
   width: 55%;
   padding-left: 80px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 24px;
}

.requestViewContentBtns {
   display: flex;
   justify-content: center;
   gap: 52px;

   margin-top: 20px;
}

.formPetPhotoContainer,
.formUploadPhoto {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

.formPetRow {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.formPetRow .btn,
.formPetRow label {
   width: calc(50% - 10px);
}

.formPetRow .first {
   width: calc(20% - 10px);
}

.formPetRow .second {
   width: calc(45% - 10px);
}

.formPetRow .third {
   width: calc(35% - 10px);
}

.formPetBtn {
   align-self: flex-end;
}

.adoptionsRow {
   display: flex;
   gap: 40px;
}

.adoptionsFilters {
   width: 160px;

   display: flex;
   flex-direction: column;
   gap: 16px;
}

@media (max-width: 1450px) {
   .landing {
      padding-left: 64px;
   }
   .landingPhoto {
      right: 0;
   }

   .article {
      padding: 60px 80px;
   }

   .requestView,
   .formPet {
      padding-top: 40px !important;
   }
}

/* 
loading animation

https://loading.io/css/
*/

.lds-spinner {
   color: official;
   display: inline-block;
   position: relative;
   width: 100%;
   height: 80px;
}
.lds-spinner div {
   transform-origin: 40px 40px;
   animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
   content: ' ';
   display: block;
   position: absolute;
   top: 3px;
   left: 37px;
   width: 6px;
   height: 18px;
   border-radius: 20%;
   background: #fcf;
}
.lds-spinner div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
}
@keyframes lds-spinner {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
